<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>N x N Grid</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
</head>
<body>
<select id="gridSizeSelect" onchange="createGrid(this.value)">
  <option value="">--Select Grid Size--</option>
  <option value="50">50</option>
  <option value="100">100</option>
  <!-- 추가 옵션 -->
</select>
<div id="gridContainer"></div>
<div id="coordinatesDisplay"></div>
<div>
<button id="sendButton">Send</button>
</div>
<script src="{{ url_for('static', filename='js/grid.js') }}"></script>
</body>
</html>
